<div data-skrollr-init class="jumbotron header-image" data-50-top="background-position-y:0%" data-top-bottom="background-position-y:100%">
    <div class="container">
        <h1 class="jumbotron__header">Daniel Kay</h1>

        <p class="jumbotron__body">
            Multimedia Professional
        </p>
    </div>
    <div class="scroll-hint" data-bottom="opacity:0.4" data-100-top="opacity:0">
        <i class="fa fa-arrow-circle-o-down fa-3x"></i>
    </div>
</div>
<div class="container">
    <ol class="steps">
        <li class="steps__item">
            <div class="body">
                <h2>Go Exploring</h2>

                <p>
                    Review <code>app/Http/routes.php</code> to learn how HTTP requests are
                    routed to controllers.
                </p>

                <p>
                    We've included simple login and registration screens to get you started.
                </p>
            </div>
        </li>
    </ol>
</div>