<div class="container" data-ng-controller="projectListController">
    <div class="page-header">
        <h2>Current and Previous Projects</h2>
    </div>

    <div data-ng-if="$root.currentUser" data-ng-include="'views/partials/submitProject.html'"></div>

    <p class="text-center" data-ng-show="loading">
        <span class="fa fa-spinner fa-5x fa-spin"></span>
    </p>
    <div class="col-lg-12">
        <div class="project col-lg-4 col-md-6 col-xs-12" data-ng-hide="loading" data-ng-repeat="project in projects track by $index">
            <div>
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }}</p>

                <p data-ng-if="$root.currentUser"><a href="#" data-ng-click="deleteProject(project.id)" class="text-muted">Delete</a></p>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div data-dir-disqus data-disqus-shortname="danielkay" data-disqus-identifier="/projects/" data-disqus-url="http://laravel.local:8000/projects"></div>
    </div>
    <!--div data-ng-include="'views/partials/disqus.html'"></div-->
</div>