.navbar-static-top {
    background-color: rgba(240,240,240,0.9);
    margin-bottom: 0;
    border-width: 0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

#pageContent {
    width: 100vw;
    height: 100%;
}

#pageContent > .container {
    width: 100vw;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#pageContent .jumbotron.header-image {
    position: relative;
    padding-top: 100px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background: url('../img/mixer.svg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pageContent > .jumbotron.header-image > .scroll-hint {
    position: absolute;
    bottom: 1em;
    width: 100vw;
    text-align: center;
    opacity: 0.4;
}

#pageContent .jumbotron {
    /* background: $primary; */
    color: black;
    margin-bottom: 0;
}

#pageContent .jumbotron__header,
.jumbotron h1 {
    font-weight: bold;
    opacity: 0.4;
    color: black;
    margin-top: 0;
    margin-bottom: 25px;
}

#pageContent .jumbotron__body {
    max-width: 80%;
    margin-bottom: 0;
    line-height: 1.6em;
    opacity: 0.6;
}

#pageContent .jumbotron__header, .jumbotron h1 {
    font-weight: bolder;
}

#pageContent h2 {
    margin-bottom: 20px;
}

#pageContent .latest-container .latest-column {
    height: 100%;
}

#pageContent .latest-container .latest-column .column-header {
    padding-top: 10px;
    text-align: center;

    border-bottom: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    background-color: $secondary;

    span.fa {
        margin-top: 0;
        margin-bottom: 0;
    }
}

#pageContent .latest-container .latest-column .column-body {
    background-color: lighten($secondary, 5%);
    padding: 5px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    height: 100%;

    .recent-item {
        margin-top: 10px;
        padding: 5px;

        h3 {
            margin-top: 0;
        }
    }

    .recent-item:hover {
        cursor: pointer;
        background: $secondary;
    }
}

#pageContent > footer {
    width: 100vw;
    height: 80px;

    background: lighten($secondary, 5%);

    font-size: 1em;
    line-height: 60px;
    text-align: center;
}