#pageContent > .container > div.col-lg-12 {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

#pageContent > .container > div.col-lg-12 > .project,
#pageContent > .container > div.col-lg-12 > .project > div {
    border-radius: 5px;
    padding: 15px;
}

#pageContent > .container > div.col-lg-12 > .project > div {
    background: $primary;
}

#pageContent > .container > div.col-lg-12 > .project:hover {
    background: darken($primary, 10%);
    cursor: pointer;
}

#pageContent > .container > div.col-lg-12 > .project > div > h3 {
    margin-top: 10px;
}